<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">

            <section>

                {{ .Content }}

                {{ if isset .Site.Params "formspree_action" }}

                <div class="heading">
                  <h3>{{ i18n "contactForm" }}</h3>
                </div>

                <div id="contact-message"></div>

                <form {{ with .Site.Params.contact_form_ajax }}class="contact-form-ajax"{{ else }}{{ end }} method="post" action="{{ .Site.Params.formspree_action }}">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="name">{{ i18n "contactName" }}</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">{{ i18n "contactMail" }}</label>
                                <input type="email" autocomplete="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="college">{{ i18n "contactCollege" }}</label>
                                <input type="text" class="form-control" name="college" id="college" list="college-list">
                                <datalist id="college-list">
                                    <option value="Air Force Institute of Technology">
                                    <option value="Arizona State University (Fulton)">
                                    <option value="Auburn University (Ginn)">
                                    <option value="Binghamton University – SUNY (Watson)">
                                    <option value="Boston University">
                                    <option value="Brigham Young University">
                                    <option value="Brown University">
                                    <option value="California Institute of Technology">
                                    <option value="Carnegie Mellon University">
                                    <option value="Case Western Reserve University">
                                    <option value="Clemson University">
                                    <option value="Colorado School of Mines">
                                    <option value="Colorado State University (Scott)">
                                    <option value="Columbia University (Fu Foundation)">
                                    <option value="Cornell University">
                                    <option value="Dartmouth College (Thayer)">
                                    <option value="Drexel University">
                                    <option value="Duke University – Pratt">
                                    <option value="George Washington University">
                                    <option value="Georgia Institute of Technology">
                                    <option value="Harvard University">
                                    <option value="Illinois Institute of Technology (Armour)">
                                    <option value="Iowa State University">
                                    <option value="Johns Hopkins University (Whiting)">
                                    <option value="Lehigh University (Rossin)">
                                    <option value="Massachusetts Institute of Technology">
                                    <option value="Michigan State University">
                                    <option value="Michigan Technological University">
                                    <option value="Mississippi State University (Bagley)">
                                    <option value="Missouri University of Science & Technology – Rolla">
                                    <option value="New Jersey Institute of Technology">
                                    <option value="New York University (Tandon)">
                                    <option value="North Carolina State University">
                                    <option value="Northeastern University">
                                    <option value="Northwestern University (McCormick)">
                                    <option value="Ohio State University">
                                    <option value="Oregon Health and Science University (no longer accepting students)">
                                    <option value="Oregon State University">
                                    <option value="Pennsylvania State University – University Park">
                                    <option value="Princeton Engineering">
                                    <option value="Purdue University – West Lafayette">
                                    <option value="Rensselaer Polytechnic Institute">
                                    <option value="Rice University (Brown)">
                                    <option value="Rochester Institute of Technology (Gleason)">
                                    <option value="Rutgers, The State University of New Jersey">
                                    <option value="Stanford University">
                                    <option value="Stevens Institute of Technology (Schaefer)">
                                    <option value="Stony Brook University – SUNY">
                                    <option value="Syracuse University">
                                    <option value="Texas A&M University – College Station">
                                    <option value="Texas Tech University (Whitacre)">
                                    <option value="Tufts University">
                                    <option value="University of Arizona">
                                    <option value="University of Buffalo – SUNY">
                                    <option value="University of California – Berkeley">
                                    <option value="University of California – Davis">
                                    <option value="University of California – Irvine (Samueli)">
                                    <option value="University of California – Los Angeles (Samueli)">
                                    <option value="University of California – Riverside (Bourns)">
                                    <option value="University of California – San Diego (Jacobs)">
                                    <option value="University of California – Santa Barbara">
                                    <option value="University of California – Santa Cruz (Baskin)">
                                    <option value="University of Central Florida">
                                    <option value="University of Cincinnati">
                                    <option value="University of Colorado – Boulder">
                                    <option value="University of Connecticut">
                                    <option value="University of Dayton">
                                    <option value="University of Delaware">
                                    <option value="University of Florida">
                                    <option value="University of Houston (Cullen)">
                                    <option value="University of Illinois – (Chicago)">
                                    <option value="University of Illinois – Urbana (Champaign)">
                                    <option value="University of Iowa">
                                    <option value="University of Kansas">
                                    <option value="University of Kentucky">
                                    <option value="University of Maryland – College Park (Clark)">
                                    <option value="University of Massachusetts – Amherst">
                                    <option value="University of Michigan – Ann Arbor">
                                    <option value="University of Minnesota – Twin Cities">
                                    <option value="University of New Mexico">
                                    <option value="University of Notre Dame">
                                    <option value="University of Pennsylvania">
                                    <option value="University of Pittsburgh (Swanson)">
                                    <option value="University of Rochester (Hajim)">
                                    <option value="University of South Florida">
                                    <option value="University of Southern California (Viterbi)">
                                    <option value="University of Tennessee – Knoxville (Tickle)">
                                    <option value="University of Texas – Arlington">
                                    <option value="University of Texas – Austin (Cockrell)">
                                    <option value="University of Texas – Dallas (Jonsson)">
                                    <option value="University of Utah">
                                    <option value="University of Virginia">
                                    <option value="University of Washington">
                                    <option value="University of Wisconsin – Madison">
                                    <option value="Vanderbilt University">
                                    <option value="Virginia Tech">
                                    <option value="Washington State University">
                                    <option value="Washington University in St. Louis">
                                    <option value="Worcester Polytechnic Institute">
                                    <option value="Yale University">
                                </datalist>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">{{ i18n "contactMessage" }}</label>
                                <textarea id="message" class="form-control" name="message" required></textarea>
                            </div>
                        </div>
                        {{ if and .Site.Params.enableRecaptchaInContactForm .Site.Params.googleRecaptchaKey }}
                        <div class="col-sm-12">
                            <div class="g-recaptcha" data-sitekey="{{ .Site.Params.googleRecaptchaKey }}"></div>
                            <br/>
                        </div>
                        {{ end }}

                        <div class="col-sm-12 text-center">
                          <button type="submit" class="btn btn-template-main"><i class="far fa-envelope"></i>{{ i18n "contactSend" }}</button>

                        </div>
                    </div>
                    <!-- /.row -->
                </form>

                {{ end }}

            </section>

        </div>

        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>

            {{ end }}

        </div>

    </div>
    <!-- /.row -->
</div>

<!-- {{ partial "map.html" . }} -->
