<div class="container" id="mission">

    <!-- Top section: standard text -->
    <section class="py-4">
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ .Content }}
                </p>
            </div>
        </div>
    </section>

    <!-- Middle section: image left, title and text right -->
    <section class="py-5">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
            <img src="{{ "img/yellow-logo.png" | relURL }}" alt="Test image" style="max-height: 150px; width: auto;" class="img-responsive center-block">
            </div>
            <div class="col-md-6">
            <h3>What We Do</h3>
            <p>
                Rho Beta Epsilon empowers student leaders to give back to their community and demonstrate their passion for engineering. PBE chapters host events during midterms and finals weeks to support students, provide help with course and lab work, and collaborate with other organizations to promote robotics and engineering. We also provide opportunities for students to develop leadership skills, network with industry professionals, and engage in community service projects with their school's administration to build better and more inclusive engineering programs.
            </p>
            </div>
        </div>
    </section>

    <!-- Bottom section: title and italicized text -->
    <section class="py-4">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Non-Profit Status</h4>
                <p class="text-center"><em>The organization is organized exclusively for charitable, religious, educational, and scientific purposes under IRC Section 501(c)(3), or corresponding section of any future federal tax code.
                    Upon the dissolution of this organization, assets shall be distributed for one or more exempt purposes within the meaning of IRC Section 501(c)(3), or corresponding section of any future federal tax code, or shall be distributed to the federal government, or to a state or local government, for a public purpose.
                </em></p>
            </div>
        </div>
    </section>

</div>
